.mt-form__input {
  position: relative;
  background-color: #ffffff;
  color: #495057;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-sizing: border-box;
  height: 32px;
  width: 100%;
  line-height: 22px;
  padding: 10px 8px;
  font-size: 14px;
  vertical-align: middle;
  box-shadow: none;
}
.mt-form__input--error {
  border: 2px solid #f6c3c1;
  background: url(./images/icon-error.png) no-repeat #fff;
}
.mt-form__input--focused,
.mt-form__input:focus {
  border: 2px solid #9cabd0;
  box-shadow: 0 0 2px 1px #9cabd0;
}